<article class="post">
    <div class="title">
        <h2>{{title}}<span> on {{format_date created_at}}</span></h2>
    </div>
    <div>
        {{post_body}}

        <h4>By {{user.username}}</h4>
    </div>
</article>